.root_container {
    background: #f3f4f6;
    min-height: 100vh;
    .app {
        display: flex;
        justify-content: center;
    
        .categories_tab {
            width: 70%;
            .topic_card {
                margin-bottom: 20px;
            }
            .product_container {
                .heading {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 10px;
                    align-items: center;
                }
            }
        }
    }
}

.content_modal {
    width: 50%  !important;
    .dropdown_container {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }
    .generate_btn {
        width: 300px;
        margin-bottom: 10px;
    }
}